/Java/Unicesumar/Programacao-1/MapaProgramacao/nbproject/private/
/Java/Unicesumar/Programacao-1/MapaProgramacao/build/
/Java/Unicesumar/Programacao-2/JavaApplication66/nbproject/private/
/Java/Unicesumar/Programacao-2/JavaApplication66/build/
/Java/Testes/TesteCadastro/target/
/Java/Unicesumar/Programacao-2/MapaProgramacaoDois/dist/
/Java/Unicesumar/Programacao-2/MapaProgramacaoDois/src/conexao/db.properties
/Java/Testes/TesteCadastro/src/main/java/conexao/db.properties