/Java/Unicesumar/Programacao-1/MapaProgramacao/nbproject/private/
/Java/Unicesumar/Programacao-1/MapaProgramacao/build/
/Java/Unicesumar/Programacao-2/JavaApplication66/nbproject/private/
/Java/Unicesumar/Programacao-2/JavaApplication66/build/
/Java/Testes/TesteCadastro/target/
/Java/Unicesumar/Programacao-2/MapaProgramacaoDois/dist/
/Java/Unicesumar/Programacao-2/MapaProgramacaoDois/src/conexao/db.properties
/Java/Testes/TesteCadastro/src/main/java/conexao/db.properties
/Java/Cod3r/curso-java/exercicios-jpa/src/main/java/META-INF/persistence.xml
/Java/CadastroDeAlunosV2/CadastroDeAlunosV2/target/
/Java/CadastroDeAlunosV2/CadastroDeAlunosV2/src/main/resources/META-INF/persistence.xml
